h4 {
  width: 600px;
  position: absolute;
  top: 400px;
  padding: 3px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 3.6em;
}

h4,
#localStream {
  position: absolute;
}

video {
  width: 600px;
  height: 450px;
}

body {
    background-color: rgb(78, 77, 74);
}