li {
  color: rgb(7, 224, 7);
  font-weight: bold;
  font-size: 20px;
}

.block {
  clear: both;
}
#divOnline {
  float: right;
  color: #ffffff;
  font-weight: bold;
}

#btnSignUp,
#txtUserName {
  float: left;
  color: #000000;
  margin-top: 0;
  margin-right: 5px;
}

#txtLocalSpeech {
  width: 580px;
  position: absolute;
  top: 358px;
  padding: 3px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 3.6em;
}

#txtRemoteSpeech {
  width: 580px;
  position: absolute;
  top: 358px;
  padding: 3px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 3.6em;
}

#txtLocalSpeech,
#localStream {
  position: absolute;
}

#remoteStream,
#txtRemoteSpeech {
  position: absolute;
  margin-top: 455px;
}

video {
  width: 600px;
  height: 450px;
}

body {
  background-color: rgb(78, 77, 74);
}
